<!--APP-SIDEBAR-->
<div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" routerLink="/dashboard">
                <img src="assets/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                <img src="assets/images/brand/logo-1.png" class="header-brand-img toggle-logo" alt="logo">
                <img src="assets/images/brand/logo-2.png" class="header-brand-img light-logo" alt="logo">
                <img src="assets/images/brand/logo-3.png" class="header-brand-img light-logo1" alt="logo">
            </a>
            <!-- LOGO -->
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                    fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                </svg></div>
            <ul class="side-menu">
                <ng-container *ngIf="authService.isAdmin()">
                    <li class="sub-category">
                        <h3>ANA MENÜ (ADMİN)</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" routerLink="/dashboard" routerLinkActive="active">
                             <i class="side-menu__icon fe fe-home"></i>
                             <span class="side-menu__label">Dashboard</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" routerLink="/users" routerLinkActive="active">
                             <i class="side-menu__icon fe fe-users"></i>
                             <span class="side-menu__label">Kullanıcı Yönetimi</span>
                        </a>
                    </li>
                </ng-container>
                <li class="sub-category">
                    <h3>EĞİTİM MERKEZİ</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" routerLink="/questions" routerLinkActive="active">
                         <i class="side-menu__icon fe fe-message-circle"></i>
                         <span class="side-menu__label">Soru İstasyonu</span>
                    </a>
                </li>
                <li class="slide">
                     <a class="side-menu__item" data-bs-toggle="slide" routerLink="/tasks" routerLinkActive="active">
                          <i class="side-menu__icon fe fe-file-text"></i>
                          <span class="side-menu__label">Ödev Takip</span>
                     </a>
                </li>
                <li class="sub-category">
                    <h3>İLETİŞİM</h3>
                </li>
                <li class="slide">
                     <a class="side-menu__item" data-bs-toggle="slide" routerLink="/chat" routerLinkActive="active">
                          <i class="side-menu__icon fe fe-message-square"></i>
                          <span class="side-menu__label">Canlı Destek (Chat)</span>
                     </a>
                </li>

            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                    width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                </svg></div>
        </div>
    </aside>
</div>
